<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>The following post has been added to your favorites </h2> <br>
    <h4>"<%= @post.title %>"</h4>
    <small>
      By: <%= @post.user.name %>
    </small>
    <p>
      <%= @post.body %>
    </p>
    <p>
      If this post is commented on, you will receive updates.
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
